.home #content .president-twitter img {
   margin: 0 20px 0 0;
}
.home .wp-caption p.wp-caption-text {
   margin: 0;
   font-size: 0.85em;
}
.home #content .president-twitter p.wp-caption-text {
   font-size: 0.85em;
}
.query-memberprofilearchive .query-row .member-image {
  height: auto;
  width: 50%;
  float: left;
  margin-bottom:50px;
  margin-right: 20px;
}
.query-memberprofilearchive .query-row, .query-pager {
  clear: both;
}
.top-bar {
  padding: 0;
}
.home #content #home-news .news-item {
	min-height: 20rem;
}

