/************************************************

Stylesheet: Front Page Stylesheet

*************************************************/

.home {
	background: $dark-gray;
	#pl-4 .so-panel {
		margin-bottom: 0;
	}
	.top-bar {
		ul {
			.is-dropdown-submenu {
				margin-top: -1px;
			}
		}
	}
	#content {
		h2, .h2 {
			font-family: $subheader-font-family;
			padding-top: 30px;
			padding-bottom: 30px;
			}
		@media print, screen and (min-width: 40em) {
			h2, .h2 {
				font-weight: 600;
				letter-spacing: 10px;
				display: table;
				width: 100%;
				white-space: nowrap;
				&:after, h1:after {
					content: "";
					width: 100%;
					display: table-cell;
					-moz-background-clip: padding-box;
					-webkit-background-clip: padding-box;
					background-clip: padding-box;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0' y1='20' x2='100' y2='20' stroke='%23fefefe' stroke-width='2' /%3e%3c/svg%3e");
					background-position: 0 26px;
				}
				&:before {
					border-right: 2px solid transparent; 
				}
				&:after {
					border-left: 2px solid transparent;
				}
			}
		}
		#n2-ss-1 {
			margin-bottom: -16px;
		}
		.action-blocks {
			background-image: url('../images/jc7-horses-background.svg');
			background-repeat: no-repeat;
			background-color: $dark-blue;
			background-size: cover;
			border-top: 20px solid $dark-gray;
			text-align: center;
			p {
				font-weight: 600;
				font-style: italic;
				line-height: 2.6;
				font-family: $subheader-font-family;
				font-size: 20px;
				display: block;
				margin-bottom: 2rem;
				a.button {
					font-style: normal;
				}
			}
			.front-locals, .front-difference {
				.so-widget-sow-editor {
					cursor: pointer;
					max-width: 50rem;
					position: relative;
					padding: 30px 60px;
					p {
						font-size: 20px;
					}	
					h2 {
						white-space: normal;
						span {
							font-family: $header-font-family;
							font-weight: 100;
							letter-spacing: 8px;
						}
						&:after {
							display: none;
						}
					}
				}
			}
			.front-locals {
				background-color: $yellow-opacity;
				color: $dark-blue;
				transition: background-color 0.5s ease 0s;
				.so-widget-sow-editor {
					margin-left: auto;
					margin-right: 0;	
				}
				&:hover {
					background-color: $yellow-opacity-95;
				}
			}
			.front-difference {
				background-color: $dark-blue-opacity;
				transition: background-color 0.5s ease 0s;
				color: $white;
				&:hover {
					background-color: $dark-blue-opacity-95;
				}
			}
		}
		.news-heading, .front-member-profile, .president-twitter {
			background: $dark-gray;
			color: $white;
			h3, .h3 {
				color: $yellow;
			}
			.twitter-panel {
				background: $yellow;
				padding: 20px;
				margin-right: -30px;
				@media print, screen and (max-width: 780px) {
					margin-left: -30px;
				}
				h2, .h2, h3, .h3 {
					color: $dark-gray;
					text-transform: uppercase;
				}
			}
			p {
				font-size: 20px;
			}
		}
		.front-member-profile {
			font-size: 20px;
			.query-field-post_excerpt, .query-field-post_title, .query-field-permalink, .query-field-meta_member_subheading {
				@media print, screen and (min-width: 1024px) {
					padding-left: 20px;
				}
			}
			.query-field-featured_image {
				max-height: 460px;
				overflow: hidden;
			}
			h4 {
				font-weight: 600;
				margin-top: 10px;
			}
		}
		.president-twitter {
			padding-top: 18px;
			img {
				margin: 0 20px 20px 0;
			}
			h2 {
				white-space: nowrap;
			}
		}
		#home-news-mobile {
			display: none;
			a {
				color: $white;
			}
			.query-row {
				position: relative;
				margin-bottom: 15px;
				.query-field-featured_image {
					position: relative;
				}
				.query-field-permalink {
					.news-item {
						color: $white;
					}
				}
			}
			
			@media (max-width: 780px) {
				display: block;
			}
		}
		#home-news {
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
				flex-direction: row;
				overflow: hidden;
				@media (max-width: 780px) {
					display: none;
					.panel-grid-cell {
						margin-bottom: 0;
					}
				}
			a {
				color: $white;
			}
			.news-item {
				background-position: center center;
				background-size: cover;
				background-color: $blue;
				background-blend-mode: multiply;
				transition: background-color 0.5s ease 0s,opacity 0.5s ease 0s, text-shadow 0.5s ease 0s;
				display: flex;
				flex: 1;
				align-items: flex-end;
				padding: 2rem;
				color: $white;
				min-height: 15rem;
				flex-wrap: wrap;
				&:hover {
					background-color: $blue-news-2a;
					text-shadow: 2px 2px $black;
				}
			}
			#news-1 {
				.news-item {
					background-color: $blue-news-3a;
					&:hover {
						background-color: $blue-news-3b;
					}
				}
			}
			#news-2 {
				.news-item {
					background-color: $blue-news-2a;
					&:hover {
						background-color: $blue-news-2b;
					}
				}
			}
			#news-3 {
				.news-item {
					background-color: $blue-news-2a;
					&:hover {
						background-color: $blue-news-2b;
					}
				}
			}
			#news-4 {
				.news-item {
					background-color: $blue-news-3a;
					&:hover {
						background-color: $blue-news-3b;
					}
				}
			}
		}
		#inner-content #main {
			margin-top: 0;
		}
		.acf-rpw-title a {
			color: $black;
		}
		#action-buttons {
			padding: 75px 30px;
		}
	}
	.footer {
		margin-top: 0;
	}
}
