/************************************************

Stylesheet: Grid Overrides Stylesheet

*************************************************/

.row {
  max-width: 100rem;
}
#main {
	min-height: 650px;
}