/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
.clear {
	clear: both;
}
.black-underscore, .heading-underscore .widget-title {
	border-bottom: solid #000000 15px;
	padding-bottom: 10px;
}
.heading-underscore {
	.textwidget {
		margin-top: 20px;
	}
}
.no-margin {
	margin: 0;
}
.bold-type {
	font-weight: 600;
}
.label {
	background: transparent;
}
.trans {
	color: transparent;
}


/*********************
LINK STYLES
*********************/
a, a:visited {
	color: $blue;
	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
a:hover, a:focus {
	color: $black;
}

/*********************
BUTTON STYLES
*********************/
a.button, 
.button, 
button {
	background: $dark-blue;
	text-transform: uppercase;
	color: $yellow;
	font-weight: 600;
	margin-top: 10px;
	&:hover {
		background: $white;
		color: $dark-blue;
	}
}
a.white, .white {
	background: $white;
	color: $dark-blue;
	&:hover {
		background: $black;
		color: $off-white;
	}
}
a.button.arrow {
	background: $white;
	color: $dark-blue;
	border: 0;
	padding-right: 0;
	overflow: hidden;
	border-radius: 2px;
	&:after {
		content:"\27a4";
		background: $light-gray;
		padding: .3em 0.40em .40em;
		margin-left: 15px;
		font-size: 25px;
		top: 3px;
		position: relative;
		line-height: 0;
		font-weight: 100;
		color: $dark-blue;
	}
}
a.button.sparse {
	background: none;
	color: $dark-blue;
	text-transform: capitalize;
	padding: 0px;
	.fa-chevron-circle-right {
		margin-left: 10px;
		font-size: 17px;
		top: 2px;
		position: relative;
	}
	&:hover {
		color: $blue-gray;
	}
}

/*********************
LIST STYLES
*********************/
ul {
	list-style: square;
	margin-left: 3.25rem;
}


/*********************
H1, H2, H3, H4, H5 P AND SPECIAL TEXT STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	margin-bottom: .5em;
	text-transform: uppercase;
	color: $dark-gray;
}

h2, .h2 {
	text-transform: uppercase;
}

h3, .h3 {
	margin-bottom: 0;
	font-family: $subheader-font-family;
	font-weight: 700;
}

h4, .h4 {
	font-family: $subheader-font-family;
	font-weight: 400;
}

h5, .h5 {

}
.special-heading {
	color: $blue;
	font-style: italic;
	font-size: 28px;
	font-weight: 600;
	line-height: 30px;
	border-left: none;
	background: $off-white;
	display: block;
	padding: 15px;
	text-align: center;
}
.infobox {
	background: $dark-blue;
	color: $white;
	padding: 20px;
	a, a:focus {
		color: $black;
	}
}
.infobox-white {
	background: $off-white;
}

/*********************
BLOCKQUOTE STYLES
*********************/
blockquote, blockquote p {
	color: $dark-blue;
	font-style: italic;
	font-size: 28px;
	font-weight: 600;
	line-height: 30px;
	border-left: none;
}

/*********************
IMAGE STYLES
*********************/
.img-gutter-right {
	padding-right: 15px;
}
.img-gutter-left {
	padding-left: 15px;
}

/*********************
HEADER STYLES
*********************/
.header {
	background: $dark-blue;
	ul.off-canvas-list li {
		list-style: none;
	}
	.top-bar {
		background-color: transparent;
		ul {
			background-color: transparent;
		}
		.top-bar-right {
			margin-right: 20px;
		}
		.top-bar-left,
		.top-bar-right {
			width: auto;
		}
		
		.site-title {
			margin-bottom: -15px;
			text-transform: uppercase;
			font-size: 60px;
			letter-spacing: 5px;
			padding-top: 20px;
			color: $white;
			@media (max-width: 992px) {
				font-size: 40px;
				letter-spacing: 2px;
			}
			@media (max-width: 639px) {
				font-size: 30px;
			}
			a {
				color: $white;
			}
		}
		.site-subtitle {
			color: $blue;
			font-size: 34px;
			letter-spacing: 10px;
			margin-bottom: 15px;
			@media (max-width: 992px) {
				font-size: 24px;
				font-weight: 300;
				letter-spacing: 5px;
			}
			@media (max-width: 639px) {
				font-size: 20px;
				margin-top: 5px;
			}
			a {
				color: $blue;
			}
		}
	}
	.navigation {
		background: $yellow;
		display: inline-block;
		margin-bottom: -23px;
	}
	.top-search {
		.search-form {
			display: inline-block;
			margin: 10px 0;
		}
		.search-field {
			background-color: transparent;
			background-image: url('../images/search-icon.svg');
			background-position: 5px center;
			background-repeat: no-repeat;
			background-size: 16px 16px;
			border: none;
			cursor: pointer;
			height: 26px;
			margin: 3px 0 0;
			padding: 0 0 0 25px;
			position: relative;
			-webkit-transition: width 400ms ease, background 400ms ease;
			transition:         width 400ms ease, background 400ms ease;
			width: 0;
			outline-offset: 0;
			box-shadow: none;
			border:none;
		}
		.search-field:focus {
			background-color: #fff;
			border: none;
			cursor: text;
			outline: 0;
			width: 100%;
			box-shadow: none;
		}
		.search-submit {
			display: none;
		}
	}
	.menu.logo img {
		position: relative;
		margin-bottom: -50px;
		z-index: 800;
		max-width: 100%;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	padding: 15px 0 0 0;
	.title-area {
		z-index: 1;
	}
	.mini-nav, .top-nav {
		padding-left: 0;
	}
	ul {
		.is-dropdown-submenu {
			border: none;
			background-color: $white;
			min-width: 250px;
			li {
				a:hover, a:focus {
					background-color: $dark-blue;
					color: $white;
				}
			}
		}
	}
	.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
		padding-right: 0;
	}
	#menu-main-navigation-1 {
		> li {
			&:last-child {
				> a {
					padding-right: 0;
				}
			}
			> a {
				padding: 15px 0 15px 30px;
				font-size: 20px;
				font-weight: 400;
				font-family: 'Titillium Web', sans-serif;
				@media (max-width: 1200px) {
					font-size: 16px;
					font-weight: 500;
					padding: 20px 0 20px 30px;
				} 
			}
		}
	}
}  
.show-for-small-only .menu {
	font-weight: 700;
}
.menu {
	text-transform: uppercase;
	a {
		color: $black;
	}
	.active > a {
	  background: none;
	  color: $black;
	}
	&> li > a.hamburger {
		display: block;
		padding-right: 0;
		padding-top: 15px;
		font-weight: 600;
		&:before {
			content: "\f0c9";
			font-family: FontAwesome;
			padding-right: 10px;
			font-size: 14px;
		}
	}
}
.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}
.off-canvas {
	background: $yellow;
	.menu {
		margin-top: 40px;
		li {
			position: relative;
		}
		.menu {
			margin-top: 0;
		}
	}
	/*.submenu-toggle {
		border-color: $dark-blue transparent transparent;
		width: 0;
		height: 0;
		border: inset 10px;
		border-bottom-width: 0;
		border-top-style: solid;
		color: $dark-blue;
		background: none;
		position: absolute;
		top: 50%;
		right: 1em;
		&:hover {
			background: none;
		}
	}
	.submenu-toggle-text {
		content: '';
	}*/
	.submenu-toggle {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		width: 40px;
		height: 40px;
		background: transparent;
	}
	.submenu-toggle-text {
		position: absolute!important;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%); 
		border: 0;
	}
	.submenu-toggle::after {
		display: block;
		width: 0;
		height: 0;
		border: inset 6px;
		content: '';
		border-bottom-width: 0;
		border-top-style: solid;
		border-color: $dark-blue transparent transparent;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.submenu-toggle[aria-expanded='true']::after {
		-webkit-transform: scaleY(-1);
		-ms-transform: scaleY(-1);
		transform: scaleY(-1);
		-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	.is-accordion-submenu-parent > a::after {
		border-color: $dark-blue transparent transparent;
		display: none;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 0 15px;
		#main {
			margin-top: 2.5em;
		}
		#sidebar1 {
			padding: 2.5em 1em;
		}
	}
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

img.article-header {
	width: 100%;
	border-top: 15px solid $dark-blue;
}

// Entry content  
.featured img.wp-post-image {
	margin: 1em 0;
	width: 100%;
}
.ccfic {
	margin-top: -20px;
	background-color: $yellow;
	padding: 5px 10px;
	font-size: 12px;
	margin-bottom: 20px;
}
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 
.entry-date, .byline {
	margin: 0 0 10px;
	text-transform: capitalize;
	display: inline;
	
}
.byline {
	margin-bottom: 0;
	font-weight: 500;
	display: inline;
	font-weight: 600;
	a {
		color: $dark-gray;
	}
	&:after {
		content: "|";
		color: $blue-gray;
		padding: 0 10px;
	}
}
img.wp-post-image {
	margin: 1em;
}
.category-executive {
	.single-title {
		font-weight: 500;	
	}
	.master-heading {
		background: $off-white;
		padding: 10px 20px;
		margin-left: -15px;
		margin-right: -30px;
	}
	
}
.executive-thumb {
	margin: 1em 0 1em 1em;
	width: 300px;
	img.wp-post-image {
		margin: 0;
		max-width: 100%;
		width: 100%;
	}
}
.wp-caption {
	max-width: 100%;
	padding: 0;
	background: $yellow;
	color: $black;
	margin-bottom: 30px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 0 7px;
		padding: 10px;
	}
} 

// Member Resources Page Styling
.interior {
	#action-buttons {
		background-color: transparent;
		background-image: none;
		background-attachment: inherit;
		margin: 0 auto;
	}
}

// Category pages
.archive {
	article {
		clear: both;
	} 
}

/*********************
ALL THE QUERY STYLES
*********************/

// Member Profiles Query
.query-memberprofilearchive {
	width: 100%;
	.query-row {
		border-bottom: 1px solid $light-gray;
		margin-bottom: 40px;
		padding-bottom: 20px;
			.member-image {
			height: 500px;
			overflow: hidden;
			background: $dark-blue;
			position: relative;
			display: block;
			@media (max-width: 1200px) {
				height: 400px;
			}
			@media (max-width: 980px) {
				height: 275px;
			}
			@media (max-width: 480px) {
				height: 200px;
			}
			a.member-title {
				position: absolute;
				display: block;
				bottom: 0;
				display: block;
				font-size: 30px;
				font-weight: 700;
				padding-left: 5px;
				color: $white;
				text-shadow: 2px 2px $black;
			}
			img {
				width: 100%;
				height: auto;
				min-height: 475px;
				/* IE 8 */
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
				 /* IE 5-7 */
				filter: alpha(opacity=60);
				/* Netscape */
				-moz-opacity: 0.6;
				/* Safari 1.x */
				-khtml-opacity: 0.6;
				/* Good browsers */
				opacity: 0.6;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				-webkit-transition: opacity 0.3s linear;
				transition: opacity 0.3s linear;
				@media (max-width: 1200px) {
					min-height: 400px;
				}
				@media (max-width: 980px) {
					min-height: 275px;
				}
				@media (max-width: 480px) {
					min-height: 200px;
				}
				&:hover {
					/* IE 8 */
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
					 /* IE 5-7 */
					filter: alpha(opacity=70);
					/* Netscape */
					-moz-opacity: 0.7;
					/* Safari 1.x */
					-khtml-opacity: 0.7;
					/* Good browsers */
					opacity: 0.7;
				}
			}
		}
	}
}
.query-news, .query-presidentreportarchive, .archive {
	.query-row, article {
		border-bottom: 1px solid $light-gray;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}
.query-news, .query-presidentreportarchive, .archive, .single-post {
	.query-row, article {
		.query-field-post_title, .categories, .article-header {
			a {
				color: $dark-gray;
			}
		}
		.query-field-post_title, h3 {
			line-height: 1.4em;
		}
		.categories {
			font-weight: 600;
		}
		.query-field-post_date, .post_date {
			display: inline;
		}
		.categories {
			display: inline;
			&:before {
				content: "|";
				color: $blue-gray;
				margin: 0 10px;
			}
		}
		.query-field-featured_image img, .featured img {
			width: 100%;
			margin: 20px 0;
		}
		.query-field-post_excerpt, .entry-content {
			margin-top: 20px;
		}
	}
	&.category-publications {
		.categories, .post_date {
			display: none;
		}
	}
}

// Legal update and Sacramento Report
.query-legal-update-wrapper, .query-sacramento-report-wrapper {
	.query-field-post_date {
		padding: 20px 0;
	}
	h4 {
		margin-top: 20px;
	}
}

// News sidebars
.news-sidebar, .members-sidebar, .local-news, .tap-tarp-sidebar {
	.query-news-sidebar-wrapper, .query-memberprofilesidebar-wrapper, .query-local-news-wrapper, .query-tap-tarp-sidebar-wrapper {
		margin-top: 20px;
		padding-left: 25px;
		.query-header h4 {
			border-bottom: 1px solid $light-gray;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
		.query-row {
			.query-field-post_title {
				font-family: $subheader-font-family;
				font-size: 18px;
				a {
					color: $dark-gray;
				}
			}
			border-bottom: 1px solid $light-gray;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
		@media (max-width: 1023px) {
			padding-left: 0;
		}
	}
	@media (max-width: 1023px) {
		float: none!important;
	}
}

// Local News Query on Local single posts
.local-news {
	margin: 60px 0;
	border-bottom: 1px solid $light-gray;
	h3 {
		border-bottom: 1px solid $light-gray;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	.query-local-news-wrapper {
		padding-left: 0;
		.query-row {
			border-bottom: 0;
			margin-bottom: 0;
			.query-field-post_title {
				font-weight: 600;
			}
		}
	}
}

// Publications Sidebar Query
.query-publications-short-wrapper {
	background: $blue-gray;
	margin: 0 -15px;
	padding: 20px;
	.query-content {
		margin-top: 20px;
		.query-field-post_title {
			font-weight: 600;
			margin-bottom: 5px;
		}
		a {
			color: $dark-gray;
			&:hover{
				color: $blue;
			}
		}
	}
	.query-footer {
		margin-top: 20px;
	}
}

// Around the Locals Page
.query-locals {
	.query-row {
		width: 50%;
		@media (max-width: 980px) {
			width: 100%;
		}
		.local-image {
			height: 275px;
			overflow: hidden;
			background: $dark-blue;
			position: relative;
			display: block;
			@media (max-width: 1200px) {
				height: 200px;
			}
			@media (max-width: 980px) {
				height: 275px;
			}
			a.local-title {
				position: absolute;
				display: block;
				bottom: 0;
				display: block;
				font-size: 30px;
				font-weight: 700;
				padding-left: 5px;
				color: $white;
				
			}
			img {
				width: 100%;
				height: auto;
				min-height: 275px;
				/* IE 8 */
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
				 /* IE 5-7 */
				filter: alpha(opacity=40);
				/* Netscape */
				-moz-opacity: 0.4;
				/* Safari 1.x */
				-khtml-opacity: 0.4;
				/* Good browsers */
				opacity: 0.4;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				-webkit-transition: opacity 0.3s linear;
				transition: opacity 0.3s linear;
				@media (max-width: 1200px) {
					min-height: 200px;
				}
				@media (max-width: 980px) {
					min-height: 275px;
				}
				&:hover {
					/* IE 8 */
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
					 /* IE 5-7 */
					filter: alpha(opacity=70);
					/* Netscape */
					-moz-opacity: 0.7;
					/* Safari 1.x */
					-khtml-opacity: 0.7;
					/* Good browsers */
					opacity: 0.7;
				}
			}
		}
		.query-field-meta_website a {
			font-weight: 600;
			&:hover {
				text-decoration: underline;
			}
		}
		&.query-row-even {
			float: left;
			clear: left;
			@media (max-width: 980px) {
				float: none;
			}
			.row-inner-wrapper {
				padding-right: 40px;
				padding-bottom: 40px; 
				@media (max-width: 980px) {
					padding-right: 0;
				}
			}
		}
		&.query-row-odd {
			float: right;
			@media (max-width: 980px) {
				float: none;
			}
			.row-inner-wrapper {
				padding-left: 40px;
				padding-bottom: 40px; 
				@media (max-width: 980px) {
					padding-left: 0;
				}
			}
		}
	}
}

// Around the Locals single posts
.local-info {
	.local-image {
		background: $dark-blue;
		img {
			margin: 0;
		}
	}
	.local-sidebar {
		background: $blue-gray;
		padding: 15px 15px 60px;
		margin-bottom: 25px;
		a {
			color: $dark-gray;
		}
		.leadership {
			margin-bottom: 15px;
		}
		.address {
			margin-bottom: 15px;
		}
		.website a {
			font-weight: 600;
			font-size: 20px;
		}
	}
}
.query-locals-sidebar-wrapper {
	border-bottom: 15px $blue solid;
	margin: 0 -15px;
	.local-sidebar-toggle {
		background: $dark-blue;
		color: $off-white;
		padding: 10px 25px;
		font-size: 1.2rem;
		cursor: pointer;
		h4 {
			display: inline;
		}
		i.fas.fa-plus, i.fas.fa-minus {
			margin-left: 20px;
			font-size: 1rem;
		}
		i.fas.fa-plus {
			display: inline;
		}
		i.fas.fa-minus {
			display: none;
		}
		&.shrink {
			i.fas.fa-plus {
				display: none; 
			}
			i.fas.fa-minus {
				display: inline;
			}
		}
	}
	.query-content {
		display: none;
		margin: 15px 0;
		font-size: 18px;
		.query-row a {
			padding: 0 50px;
			color: $black;
			width: 100%; 
			display: block;
			&:hover {
				background: $blue-gray;
			}
		}
	}
}

// Member Profiles single posts
.single-post article.member-profile {
	.categories:before {
		content: "";
		margin: 0;
		display: none;
	}
}

// The Teamster Difference Styling
.page-id-22 {
	background: $dark-gray;
	.sidebar {
		position: relative;
		z-index: 2;
	}
	.top-nav {
		position: relative;
		z-index: 3;
	}
	#content #inner-content #main {
		margin-top: 18px;
		.page-title {
		display: none;
		}
		.difference-hero {
			position: relative;
			z-index: 1;
			&::before {
				content: "";
				position: absolute;
				top: 0; 
				left: 0;
				width: 100%; 
				height: 100%;  
				opacity: .7; 
				background: $darkest-blue;
				z-index: -1;
			}
		}
		.difference-intro {
			color: $white;
			font-size: 18px;
			.widget-title {
				font-size: 3.5rem;
				font-weight: 200;
				letter-spacing: 5px;
				padding-bottom: 16px;
				padding-top: 30px;
			}
		}
		.solidarity {
			background: $dark-blue;
			color: $beige;
			padding: 40px 60px;
			h3 {
				padding-bottom: 5px;
			}
			img {
				width: 40%;
				height: auto;
				margin: auto;
				display: block;
			}
			
		}
		.advocacy {
			background: $yellow;
			padding: 15px;
			color: $dark-blue;
			padding: 40px 60px;
			h3 {
				padding-bottom: 5px;
			}
			img {
				width: 34.5%;
				height: auto;
				margin: auto;
				display: block;
			}
		}
		.what-union {
			color: $off-white;
			.widget-title {
				font-size: 3.5rem;
				font-weight: 200;
			}
		}
		.advocate {
			.widget-title {
				font-size: 3.5rem;
				font-weight: 200;
			}
		}
		.workplaces, .wages, .benefits {
			.widget-title {
				&::after {
					content: "";
					background: url('../images/check-yellow.svg');
					background-size: 100% 100%;
					height: 20px;
					width: 20px;
					display: inline-block;
					margin-left: 10px;
				}
			}
		}
		.facts {
			background: $yellow;
			ul {
				padding-top: 40px;
				li {
					padding-bottom: 20px;
				}
			}
		}
		.fight {
			color: $white;
			font-size: 20px;
			position: relative;
			z-index: 1;
			&::before {
				content: "";
				position: absolute;
				top: 0; 
				left: 0;
				width: 100%; 
				height: 100%;  
				opacity: .7; 
				background: $darkest-blue;
				z-index: -1;
			}
			.widget-title {
				font-size: 3.5rem;
				font-weight: 200;
			}
			span {
				color: $yellow;
			}
		}
	}
	.footer {
		margin-top: 0;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
FORM STYLES
*********************/
input::placeholder, textarea::placeholder {
	color: $black;
}
input.button {
	font-weight: 600!important;
}
.form-title h3 {
	margin-bottom: 20px;
}
#wpcf7-f751-p6-o1 {
	margin: 0 -15px;
}
.caldera-grid {
	[type="text"].form-control , [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"].form-control, [type="phone"].form-control, [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], .checkbox input[type="checkbox"], .button, textarea, select.form-control {
		margin: 0;
		border: 0;
		box-shadow: none;
		border-radius: 0;
	}
	.ccselect2-container .ccselect2-choice {
		background-image: none;
		border: none!important;
		border-radius: 0;
		padding: 6px 12px;
		height: 34px;
	}
	.form-group {
		margin-bottom: 0;
	}
	.ccselect2-arrow {
		display: none;
	}
}
.about-315 {
	.caldera-grid {
		[type="text"].form-control , [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"].form-control, [type="phone"].form-control, [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], .checkbox input[type="checkbox"], .button, textarea, select.form-control, .ccselect2-container .ccselect2-choice {
			margin: 1em 0 0;
		}
	}
}

select {

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select::-ms-expand {
    display: none;
}

/*********************
SEARCH PAGE STYLES
*********************/

.search {
	article {
		clear: both;
		.featured {
			margin-bottom: 100px;
		}
	}
}


/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
	.current {
		background: $dark-blue;
	}
}
.query-pager {
	font-size: 0.875rem;
	.current {
		background: $dark-blue;
		padding: 0.1875rem 0.625rem;
		color: $white;
	}
	a.page-numbers {
		color: $dark-blue;
		padding: 0.1875rem 0.625rem;
		&:link, &:visited:link {
			-webkit-tap-highlight-color: $light-gray;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	overflow-x: hidden;
	.teamster-difference {
		padding: 2em 0;
		background: $yellow;
		color: $dark-blue;
		margin: 0 -15px 0;
		cursor: pointer;
		.so-widget-sow-editor-base {
			padding: 0 15px;
			text-align: center;
			h4 {
				text-transform: uppercase;
				letter-spacing: 5px;
				.slab {
					font-family: $header-font-family;
				}
			}
			p {
				margin-top: 2em;
				font-style: italic;
				line-height: 2em;
				font-family: $subheader-font-family;
				font-size: 16px;
				display: block;
				margin-bottom: 2rem;
				a.button {
					font-style: normal;
				}
			}
		}
	}
	.advanced-sidebar-menu, .widget_nav_menu {
		background: $dark-blue;
		padding: 2em 0;
		margin: 15px -15px 0;
		.menu {
			text-transform: none;
			.menu-item-has-children {
				a {
					font-size: 30px;
					font-weight: 600;
				}
				.sub-menu a {
					font-size: 24px;
				}
			}
		}
		&> ul.parent-sidebar-menu > li > a {
			font-size: 30px;
			font-weight: 600;
		}
		li {
			display: block;
			a, a:focus {
				color: $beige;
				padding: 10px 0;
				margin: 0 20px;
				border-bottom: 1px solid $medium-blue;
				display: block;
				font-size: 24px;
				font-weight: 600;
				&:hover {
					color: $blue;
				}
			}
			&.current_page_item > a, 
			&.current-menu-item > a,
			&.current-post-parent > a {
				color: $blue;
				font-weight: 600;
			}
			ul li:last-child {
				a {
					border-bottom: none;
				}
			}
		}
	}
	.widget_acf_rpw {
		margin-bottom: 25px;
		h3.acf-rpw-title {
			margin: 0;
			font-size: 1rem;
			font-weight: 400;
			margin-bottom: 10px;
		}
	}
}

.sidebar .widget, .home .widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}

// ACF Recent Posts Widget 
img.acf-rpw-thumb {
}
.more-link {
	font-weight: 600;
}
h3.acf-rpw-title {
	margin: 15px 0;
}

/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 3em;
	background: $dark-blue;
	color: $white;
	padding-top: 2.5em;
	padding-bottom: 0;
	.bottom-bar {
		padding: 20px;
		background: $yellow;
	}
	#inner-footer {
		margin-bottom: 20px;
		padding: 0 15px;
		a {
			color: $white;
		}
		h2, .h2 {
			font-family: $subheader-font-family;
			color: $yellow;
			font-size: 20px;
			font-weight: 600;
			text-transform: none;
		}
		.menu > li {
			@media (max-width: 768px) {
				display: none;
			}
			text-transform: none;
			display: block;
			float: left;
			margin-right: 1.5em;
			margin-bottom: 1em;
			&:last-child {
				margin-right: 0;
			}
			&> a {
				padding-top: 0;
				padding-left: 0;
				color: $yellow;
				font-weight: 600;
				font-size: 20px;
			}
			&> ul {
				margin-left: 0;
				li {
					a {
						color: $white;
						font-size: 16px;
						font-weight: 400;
						margin-bottom: 5px;
						display: block;
					}
				}
			}
			.sub-menu {
				list-style: none;
			}
		}
		.widget_search {
			padding-top: 1em;
			.search-field {
				border: 0;
				box-shadow: none;
				background-color: $white;
			}
			.search-submit {
				height: 2.4375rem;
				background-color: $white;
				text-transform: uppercase;
				font-weight: 600;
				color: $darkest-gray;
				padding: 0;
			}
		}
		.logo {
			max-height: 175px;
			float: left;
			margin-bottom: 50px;
			width: 30%;
			margin-right: 10px;
		}
		.contact {
			padding-left: 1em;
			.title {
				max-height: 55px;
			}
			.textwidget > div {
				padding-left: 0;
				padding-top: 1em;
			}
		}
		a.button, .button, button {
			padding-left: 1em;
			color: $yellow;
			&:hover {
				color: $black;
			}
		}
	}
}
	
/*********************
PLUGIN STYLES
*********************/
// Staff Directory plugin styles
.abcfslLstRowCntr {
	margin-bottom: 20px;
}
.abcfslLst1TxtCntr div {
	@media (min-width: 980px) {
		&.email {
			word-break: break-all;
		}
	}
}
.abcfslLstRowCntr {
	background: $off-white;
	padding-bottom: 0;
}
.abcfslPadLPc5 {
	padding: 5%;
}
.share {
	//display: inline;
	&:before {
		//content: "|";
		color: $blue-gray;
		margin: 0 10px;
	}
	span {
		position: relative;
		top:-5px;
	}
	.share-text {
		display: inline-block;
		position: relative;
		top: 0;
		margin: 0 10px 0 0;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 600;
	}
	@media (max-width: 480px) {
		display: block;
		&:before {
			content: "";
			display: none;
			margin: 0;
		}
	}
}
.synved-social-container-share {
	display: inline-block;
}

/*********************
OVERRIDES
*********************/
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
	border: none;
}
.abcfslBB1Color2 > div, .abcfslLstCntrBB > div {
	border-bottom: 0;
}
img.acf-rpw-thumb {
	margin: 0;
}