/************************************************

Stylesheet: Overrides Stylesheet

*************************************************/

/*********************
Photo Gallery Style Overrides
*********************/

img.afg-img {
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	padding: .1em;
	margin: 0;
}
div.afg-cell {
	padding: 0!important;
}
.excerpt-read-more, .more-link {
	display: none;
}

// No ide wtf the editor margin settings are not taking, so have to overrode here for home page element
.action-blocks #pgc-4-4-0 {
	margin-bottom: 0;
}
/****************************
Front Page Overrides
*****************************/

#news-2 {
  padding-left: 10px!important;
  padding-right: 10px!important;
  padding-bottom: 10px!important;
}
#news-3 {
  padding-left: 10px!important;
  padding-right: 10px!important;
}
